<suite name="parallel">
            <test name="Device-1">
             <parameter name="deviceName" value="vivo1916" />
             <parameter name="udid" value="192.168.1.77:5555" />
             <parameter name="platformVersion" value="9.0" />
             <parameter name="url" value="http://0.0.0.0:4723/wd/hub" />

                        <classes>
                                    <class name="testCases.RegistrationTest"/>
                        </classes>
            </test>
</suite>